@{
    ViewBag.Title = "PokeSpam";
}

<div class="row">
    <div class="col-md-12">
        <h2>Kata yang Ditandai Spam</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Hasil akan Tampil Disini</h2>
    </div>
</div>